@import '../App/scss/style.scss';

.offcanvas {
	width: 85% !important;
	max-width: 400px !important;
}

.side-menu__header,
.side-menu__body {
	color: $dark;
	background-color: $white;

	transition: $switching-theme-transition;
}

.dark-theme {
	.side-menu__header,
	.side-menu__body {
		color: $white;

		background-color: $dark;
	}
}

.menu-item {
	&__text {
		margin: 0 5px;
	}

	.accordion-header > button {
		padding-left: 5px;
	}
}
