$darkgrey: #121212;
$material-darkgrey: #212121;
$scrollbar-thumb-hover: #a09e9e;
$scrollbar-thumb: #717171;

$animation-time: 0.2s;

$switching-theme-transition: background-color $animation-time,
	color $animation-time;
