@import '../App/style.scss';

.rss_input {
	margin-bottom: 12px;
}

.rss_input + .invalid-feedback {
	position: absolute;
	transform: translateY(50px);
}

small.form-text {
	font-size: 16px;
}

@include media-breakpoint-up(md) {
	.rss_input {
		margin-bottom: 0;
	}

	.rss_input + .invalid-feedback {
		transform: translateY(5px);
	}
}
