@import '../App/scss/style.scss';

.rss__input {
	position: relative;

	padding-right: 45px !important;

	color: red;

	margin-bottom: 12px;
}

.rss__btn {
	&--close {
		position: absolute;
		top: 18px;
		right: 10px;
		z-index: 100;
	}
}

.rss__input + .invalid-feedback {
	position: absolute;
	transform: translateY(50px);
}

small.form-text {
	font-size: 16px;
}

@include media-breakpoint-up(md) {
	.rss__input {
		margin-bottom: 0;
	}

	.rss__input + .invalid-feedback {
		transform: translateY(5px);
	}
}
