@import '@/styles/main';

.footer {
	position: absolute;
	bottom: 0;

	width: 100%;

	background-color: $white;

	border-top: 1px solid $gray-400;

	&__link {
		color: $primary;
	}
}

:global(.dark-theme) {
	.footer {
		color: $white;
		background-color: $dark;
	}
}
