@import '../../app/scss/style.scss';

.post-item,
.post-item__body {
	transition: $switching-theme-transition;
}

.post-item__body {
	padding-right: 10px;
}

.dark-theme {
	.post-item,
	.post-item__body {
		background-color: $dark;
	}
}
