@import '@/styles/main';

.feed-item {
	min-height: 85px;

	&__title {
		margin-right: 5px;
	}

	&__icon {
		align-self: flex-start;

		margin: 4px;
		margin-right: 7px;
	}

	:global(.badge) {
		align-self: flex-start;

		margin-top: 2px;
		margin-right: 4px;
	}
}

.feed-item:global(.active) {
	background-color: $primary !important;

	border-color: $primary;
}

:global(.dark-theme) {
	.feed-item:global(.active) {
		background-color: $darkgrey !important;

		border-color: $darkgrey;
	}
}
