@import '~bootstrap/scss/bootstrap';

$animation-time: 0.2s;

body {
	position: relative;

	min-height: 100vh;
}

img {
	max-width: 100%;
	height: auto;
}

.loading-bar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 800;

	height: 4px;

	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 50%,
		rgba(0, 212, 255, 1) 100%
	);
}

.list-item {
	cursor: pointer !important;

	transition: background-color 0.2s;
}

.list-item.active {
	cursor: default !important;
}

@include media-breakpoint-up(md) {
	.loading-bar {
		height: 3px;
	}
}
