@import '~bootstrap/scss/bootstrap';

$animation-time: 0.2s;

main {
	min-height: calc(100vh - 57px);
}

.loading-bar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 800;

	height: 3px;

	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 50%,
		rgba(0, 212, 255, 1) 100%
	);
}
