.filter {
	max-width: 475px;

	&__group {
		display: flex;
		flex-wrap: wrap;

		margin-bottom: 20px;
	}

	&__input {
		display: block;

		min-width: 155px !important;
		max-width: 405px !important;
	}

	&__btn {
		width: 70px;
	}

	&__btn--mark-all {
		width: auto;

		margin-bottom: 20px;

		font-size: 14px;
	}

	.dropdown-toggle {
		width: 150px;
		margin-right: 20px;
		margin-bottom: 20px;
	}

	.badge {
		display: block;
		flex-grow: 1;

		padding: 10px 15px;
		margin-bottom: 20px;

		font-size: 16px;
		text-align: left;

		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}
