.filter {
	max-width: 540px;

	&__group {
		display: flex;
		flex-wrap: wrap;

		margin-bottom: 20px;
	}

	&__input {
		display: block;

		min-width: 155px !important;
	}

	&__btn {
		width: 70px;
	}

	&__sort {
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 20px;
	}

	&__btn--mark-all {
		width: auto;

		margin-bottom: 20px;

		font-size: 14px;
	}

	.dropdown-toggle {
		width: 150px;
		margin-bottom: 20px;
	}
}
