.feed-item {
	cursor: pointer !important;

	transition: background-color 0.2s;

	&__title {
		margin-right: 5px;
	}

	.badge {
		align-self: flex-start;

		margin-top: 2px;
		margin-right: 4px;
	}
}

.feed-item.active {
	cursor: default !important;
}
