@import '../../App/scss/style.scss';

.feed-item {
	&__title {
		margin-right: 5px;
	}

	&__icon {
		align-self: flex-start;

		margin: 4px;
		margin-right: 7px;
	}

	.badge {
		align-self: flex-start;

		margin-top: 2px;
		margin-right: 4px;
	}
}

.feed-item.active {
	background-color: $primary !important;

	border-color: $primary;
}

.dark-theme .feed-item.active {
	background-color: $darkgrey !important;

	border-color: $darkgrey;
}
