.content-skeleton {
	display: flex;
	flex-direction: column-reverse;
}

.content-skeleton__item:last-child {
	margin-bottom: 30px;
}

@media (min-width: 481px) {
	.content-skeleton {
		flex-direction: row;
		justify-content: space-between;
	}

	.content-skeleton__item {
		width: 49%;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
