@import '../app/scss/style.scss';

.header {
	background-color: $dark;
	transition: $switching-theme-transition;
}

.header__locale-switcher {
	margin-right: 20px;
	margin-bottom: 15px;
}

.header__navigation {
	margin-bottom: 7px !important;
}

.dark-theme {
	.header {
		background-color: $darkgrey;
	}
}
