@import '@/styles/variables';
@import '@/styles/keyframes';

.filter {
  &__group {
		position: relative;

		display: flex;
		flex-wrap: wrap;

		margin-bottom: 20px;
	}

  &__input {
		display: block;

		min-width: 155px !important;

		padding-right: 40px !important;
	}

  &__btn {
		width: 70px;

		&--close {
			position: absolute;
			top: 7px;
			right: 10px;
			z-index: 100;
		}

		&--pad-right {
			right: 50px;
		}

		&--pulse {
			animation: pulse 2s infinite;
		}
	}
}

:global(.dark-theme) {
	.filter__input::placeholder {
		color: $white;
	}
}
