@import "@/styles/variables";

.locale-switcher__header > :global(.accordion-button),
.locale-switcher__body {
  transition: $switching-theme-transition;
}

:global(.dark-theme) {
  .locale-switcher__header > :global(.accordion-button),
  .locale-switcher__body {
    color: $white;
    background-color: $dark;
  }
}
