@import '../../App/style.scss';

@keyframes smooth-color-change {
	from {
		background-color: $white;
		border-color: $white;
	}
	to {
		background-color: $primary;
		border-color: $primary;
	}
}

.page-item {
	width: 45px;

	.page-link {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.animated .page-link {
	animation: smooth-color-change 0.2s;
}

@include media-breakpoint-down(sm) {
	.page-item {
		width: 30px;
	}
}
